#div_pergunta1 {
  
  text-align: center;
}

#div_pergunta2 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta3 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta4 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta5 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta6 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta7 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_pergunta8 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }

#div_submit{
    opacity: 0;
    transition: opacity .1s ease-in-out;
    text-align: center;
  }

  .div_idle{
    opacity: 0;
    transition: opacity .1s ease-in-out;
    text-align: center;
  }


